@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@400;700&display=swap");

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.navbar {
  background: #E4E4E4;
}

.navbar .container .navbar-brand {
  color: #4E4E4E;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Roboto Condensed';
}

.navbar .container #navlist ul li a {
  color: #333;
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

.navbar .container #navlist ul li:hover a {
  text-decoration: underline;
}

#home-section {
  background: url("../img/home.jpg") no-repeat top center;
  min-height: 400px;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
}

#home-section .row {
  padding: 130px 0;
}

#home-section .row .col-md-12 h1 {
  font-size: 30px;
  font-weight: 700;
}

#home-section .row .col-md-12 h3 {
  font-size: 22px;
  font-weight: 700;
  opacity: 0.5;
}

#home-section .row .col-md-12 a {
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
  font-weight: 400;
}

#service-section h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 700;
}

#service-section h6 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

#service-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#service-section .fas,
#service-section .far {
  font-size: 50px;
  padding: 5px;
  width: 80px;
  height: 62px;
  color: #C9C8DC;
  border-radius: 50%;
  background: #9D9ABF;
}

#service-section hr {
  border: 1px solid #E2E2E2;
}

#service-section .desc h4 {
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

#service-section .desc p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#service-section .desc .title {
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  opacity: 0.5;
}